# Python und MySQL (python3)

# Einführung (mit R aus CRUD)

**Hinweise:** 
- Dieses Notebook funktioniert auch mit Python 2, wenn die Print-Statementes entsprechend angepasst werden!
- Dieses Notebook zeigt nur die wesentlichen Befehle um aus Python mit SQL-Datenbanken arbeiten zu können. Es werden keine Sicherheitsmassnahmen getroffen (z.B. was wenn das SQL-Statement einen Fehler zurückgibt, oder was wenn die Verbindung nicht aufgebaut werden kann, ...). Im selbständig durchzuarbeitenden Beispiel für die verschiedenen Cursor-Arten sind solche Vorkehrungen getroffen. Gerne können diese selbständig in dieses Notebook integriert werden.

Um aus Python auf eine SQL-Datenbank zugreifen zu können, muss die entsprechende Bibliothek eingebunden werden.

In [1]:
import mysql.connector

Als nächstes muss eine Verbindung zur Datenbank (mit gültigen Credentials) hergestellt werden.

In [2]:
dbConnection = mysql.connector.connect(host = "localhost", 
                                       user = "root", 
                                       passwd = "pkmlp", 
                                       db = "Heizungsmonteur")

Da bei der Abfrage einer relationalen Datenbanken immer eine Menge (leere Menge, eine Menge mit genau einem Attribut, oder eine Menge, die die gesamte Tabellen beinhaltet) zurückgibt, muss ein Cursor definiert werden, damit die Resultatmenge dann Zeile für Zeile abgearbeitet werden kann.

In [13]:
dbCursor = dbConnection.cursor()

Dann wird das auszuführende SQL-Statement aufbereitet

In [14]:
sqlStatement = "select M_Name, Abteilung from Monteur, Abteilung where Monteur.A_Nr = Abteilung.A_Nr;"

Der Cursor nimmt das Resultat des SQL-Statements auf.

In [19]:
dbCursor.execute(sqlStatement)

Nun ist die Resultatmenge im dbCursor. Doch was ist eigentlich ein dbCursor?

In [6]:
type(dbCursor)

mysql.connector.cursor.MySQLCursor

Und was ist darin enthalten?

In [11]:
print(dbCursor)

MySQLCursor: select M_Name, Abteilung from ..

Ausgeben der Kunden-Daten in der Tabelle (resp. im Cursor):

In [16]:
for monteurZeile in dbCursor:
    print(monteurZeile)

(u'Roth', u'B\xfcro')
(u'Gelb', u'Sanitaer')
(u'Braun', u'Heizung')
(u'Weiss', u'Sanitaer')

Diesen Datentyp kennen wir doch und zum Glück wissen wir auch wie damit umzugehen ist.

In [20]:
for monteurZeile in dbCursor:
    print("Name:", monteurZeile[0], "Abteilung:", monteurZeile[1])

('Name:', u'Roth', 'Abteilung:', u'B\xfcro')
('Name:', u'Gelb', 'Abteilung:', u'Sanitaer')
('Name:', u'Braun', 'Abteilung:', u'Heizung')
('Name:', u'Weiss', 'Abteilung:', u'Sanitaer')

**Hinweis:** Im ersten Versuch hat obige Zelle keinen Output erzeugt. Dies liegt daran, dass wenn ein Cursor abgearbeitet ist, dieser "weg" ist. Wir müssen also das SQL-Statement erneut ausführen, damit wir den dbCursor erneut abarbeiten können. Also einfach dbCursor.execute(sqlStatement) in der Zelle etwas oberhalb erneut ausführen und ddann wieder auf die obige Zelle zurück. Das ist absolut normal, da in normalen Programmen die Cursor i.d.R. nur einmal abgearbeitet werden müssen.

Sind wir fertig mit unserer Arbeit, schliessen wir die Verbindung zur Datenbank.

In [ ]:
dbConnection.close()

# Aufgabe (ergänze C,U und D aus CRUD)

Ergänze dieses Beispiel mit mindestens je einem Create (INSERT ... INTO ...), einem Update (Update ... WHERE ...) und einem Delete (DELETE ... FROM ... WHERE ...) Beispiel, damit Du alle (CRUD-) Befehle in diesem Notebook hast. Zur Kontrolle ob Deine Befehle auch wirklich funktioniert haben, kannst Du entweder die Resultate auf der DB mit der MySQL Workbench oder im MySQL-CLI überprüfen. Du kannst aber auch obige Zeilen immer wieder verwenden, um die Tabelle Monteur abzufragen.

**Hinweis:** Die geforderten Befehle sind auch nur SQL-Statements. Diese können also analog dem SELECT-Statement abgesetzt werden. Diese Befehle geben jedoch keinen Cursor (keine Tabelle) zurück. Überlege dir, was denn die Befehle zurückgeben (setze doch einmal einen solchen Befehl in der CLI oder im GUI ab) und wie Du damit in Python umgehen kannst.

In [28]:
#Read
sqlRead = "select * from Abteilung;"
dbCursor.execute(sqlRead)
for monteurZeile in dbCursor:
    print(monteurZeile)

(u'A1', u'Heizung')
(u'A2', u'Sanitaer')
(u'A3', u'B\xfcro')

In [22]:
#Create
sqlCreate = "insert into Abteilung values ('A4', 'IT');"
dbCursor.execute(sqlCreate)

In [25]:
#Update
sqlUpdate = "update Abteilung set Abteilung = 'ITler' where A_Nr like 'A4';"
dbCursor.execute(sqlUpdate)

In [27]:
#Delete
sqlDelete = "delete from Abteilung where A_Nr like 'A4';"
dbCursor.execute(sqlDelete)

That's all Folks